/** Global */
$purple: #452268;
$gray: #707070;
$organe: #F98169;
$primary: $organe;
$blue: #255A7E;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;