@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

$grid-columns: 24 !default;
$theme-colors: (
	"primary": #023E87,
	"warning": #e3401f
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);

$color-white: #fff;
$color-black: #333;
/*$color-primary: #2b3078;*/
$color-primary: #023E87;
$color-highlight: #e3401f;
$color-highlight-inverse: #ff6a48;
// $color-highlight-inverse: #ffbd23;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;

$input-bg:                              #f2f6fa;
// $input-disabled-bg:                     $gray-200 !default;

$input-color:                           $color-black;
$input-border-color:                    #f2f6fa;
// $input-border-width:                    $input-btn-border-width !default;
// $input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius:                   8px;
// $input-border-radius-lg:                $border-radius-lg !default;
// $input-border-radius-sm:                $border-radius-sm !default;

// $input-focus-bg:                        $input-bg !default;
// $input-focus-border-color:              lighten($component-active-bg, 25%) !default;
// $input-focus-color:                     $input-color !default;
// $input-focus-width:                     $input-btn-focus-width !default;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               #b2b2b2;
$input-plaintext-color:                 $color-black;

// $input-height-border:                   $input-border-width * 2 !default;

// $input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
// $input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
// $input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y / 2) !default;

// $input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
// $input-height-sm:                       add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
// $input-height-lg:

$form-group-margin-bottom:              2rem;





$custom-file-text: (
  en: "Attach file"
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "pages/about";
@import "pages/contact";
@import "pages/career";
@import "pages/blog";
@import "pages/service-custom-software-development";
@import "pages/service-maintenance-and-support";
@import "pages/cloud-migration-and-devops";
@import "pages/service-technology-solution-consulting";
@import "pages/case-studies";



a {
	color: $color-primary;
}
a:hover,
a:focus {
	color: $color-highlight;
	text-decoration: none;
}
a:active {
	color: darken($color-highlight, 30%);
}
@media (min-width: $breakpoint-xxl) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
	    max-width: $breakpoint-xxl - 60px;
	}
}
.text-highlight {
	color: $color-highlight !important;
}
.text-highlight-inverse {
	color: $color-highlight-inverse !important;
}
.btn.btn-highlight {
	/*height: 60px;*/
	min-width: 200px;
	background: linear-gradient(90deg, #fe7859, #e1340d);
	box-shadow: 0px 10px 20px rgba(255, 106, 72, 0.16);
	color: $color-white;
	border: none;
	height: 3rem;
	border-radius: 1.5rem;
	line-height: 1;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	font-weight: bold;
	@media (min-width: $breakpoint-xxl) {
		height: 3.5rem;
		border-radius: 1.75rem;
		font-size: 1.25rem;
		padding: 1.125rem 1.75rem;
	}
}
.btn.btn-white {
	/*height: 60px;*/
	min-width: 200px;
	background: $color-white;
	box-shadow: 0px 10px 20px rgba(255, 106, 72, 0.16);
	color: $color-black;
	border: none;
	height: 3rem;
	border-radius: 1.5rem;
	line-height: 1;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	font-weight: bold;
	@media (min-width: $breakpoint-xxl) {
		height: 3.5rem;
		border-radius: 1.75rem;
		font-size: 1.25rem;
		padding: 1.125rem 1.75rem;
	}
}
body {
	font-family: "Open Sans", sans-serif;
	padding-top: 74px;
	@media (min-width: $breakpoint-xxl) {
		// padding-top: 81px;
		padding-top: 100px;
	}
}

/* Main navigation */

header .navbar .navbar-brand > img {
	height: 48px;
	@media (min-width: $breakpoint-xxl) {
		height: 74px;
	}
}
header .navbar.navbar-light .navbar-toggler {
	/*color: $color-black;*/
	border-color: transparent;
}
header .navbar.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(51, 51, 51, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .navbar.bg-light {
	background-color: $color-white !important;
}
header .navbar.navbar-light .navbar-nav .nav-link {
	color: $color-black;
	font-weight: 600;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
header .navbar.navbar-light .navbar-nav .active > .nav-link {
	color: $color-highlight;
}
header .navbar.navbar-light .navbar-nav .nav-link:hover,
header .navbar.navbar-light .navbar-nav .nav-link:focus {
	color: $color-highlight;
}

header .navbar-nav .dropdown-menu .dropdown-item {
	color: $color-black;
	font-weight: 600;
	padding: 0.5rem 1.5rem;
	transition: all 0.3s ease;
}

header .navbar-nav .dropdown-menu .dropdown-item:hover,
header .navbar-nav .dropdown-menu .dropdown-item:focus {
	color: $color-highlight;
}
header .navbar-nav .dropdown-menu .dropdown-item:active,
header .navbar-nav .dropdown-menu .dropdown-item.active {
	color: $color-white;
	background-color: $color-highlight;
}


header .navbar.navbar-light .navbar-nav.language {
	/*margin-left: 2rem;*/
}
@media (max-width: 991px) {
	header .navbar.navbar-light .navbar-nav.language {
		flex-direction: row;
	}
}
header .navbar.navbar-light .navbar-nav.language:before {
	/*content: "|";
	display: list-item;
	padding: 0.5rem 1rem;*/
}
header .navbar.navbar-light .navbar-nav.language .nav-item + .nav-item {
	margin-left: 0.5rem;
}
header .navbar.navbar-light .navbar-nav.language .nav-item > .nav-link.language-label:hover,
header .navbar.navbar-light .navbar-nav.language .nav-item > .nav-link.language-label:focus {
	color: $color-black;
}
header .navbar.navbar-light .navbar-nav.language .nav-item > .nav-link.language-link {
	@media (max-width: 991px) {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
header .navbar.navbar-light .navbar-nav.language .active > .nav-link {
	color: $color-black;
	border: solid 2px $color-black;
	padding-top: calc(0.5rem - 2px);
	padding-bottom: calc(0.5rem - 2px);
}


/* Content section */
.section {
	padding-top: 4rem;
	padding-bottom: 4rem;
	.section-header {
		position: relative;
		margin-bottom: 3rem;
		.section-title {
			font-size: 3rem;
			color: rgba($color-black, 0.1);
			text-align: center;
			font-weight: 700;
			@media (min-width: 768px) {
				font-size: 6rem;
			}
			@media (min-width: $breakpoint-xxl) {
				font-size: 8rem;
				line-height: 1;
			}
		}
		.section-subtitle {
			font-size: 1.125rem;
			font-weight: 700;
			letter-spacing: 2px;
			color: $color-black;
			text-align: center;
			/*margin-top: -50px;*/
			margin-top: -1.5rem;
			left: 0;
			right: 0;
			text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, 0px 0px 10px rgba(255,255,255,0);
			@media (min-width: 768px) {
				font-size: 1.5rem;
				margin-top: -3rem;
			}
			@media (min-width: $breakpoint-xxl) {
				font-size: 1.625rem;
				margin-top: -4rem;
			}
			> span {
				/*background-color: $color-white;*/
			}
		}
	}
	.section-description {
		text-align: center;
		@media (min-width: $breakpoint-xxl) {
			font-size: 1.125rem;
		}
	}
}
.section.section-dark {
	.section-header {
		.section-title {
			color: rgba($color-white, 0.1);
		}
		.section-subtitle {
			color: $color-white;
			text-shadow: $color-primary 0px 0px 5px, $color-primary 0px 0px 10px, $color-primary 0px 0px 15px, 0px 0px 10px rgba(255,255,255,0);
		}
	}
	.section-description {
		color: $color-white;
	}
	.section-action {
		color: $color-white;
	}

}
.section-research-development {
	background: url(../image/bg-research-development.png) no-repeat;
	background-position: fixed;
	background-size: cover;
}


/* Carousel top */
#hero-carousel {
	.carousel-caption {
		right: 0;
		left: 0;
		top: 15%;
		bottom: 15%;

		@media (min-width: 992px) {
			top: 30%;
			bottom: 30%;
			/*
			padding-top: 20px;
			padding-bottom: 20px;
			color: #fff;*/
			

		}
		h1 {
			/*font-size: 24px;*/
			font-size: 1.125rem;
			line-height: 1.5;
			letter-spacing: 0.1em;
			font-weight: 600;
			@media (min-width: 768px) {
				font-size: 36px;
			}
			@media (min-width: 992px) {
				font-size: 40px;
			}
		}
		p {
			font-weight: 600;
			letter-spacing: 0.1em;
			line-height: 1.5;
			@media (min-width: $breakpoint-md) {
				font-size: 18px;
			}
			@media (min-width: $breakpoint-lg) {
				font-size: 18px;
			}
			@media (min-width: $breakpoint-xxl) {
				font-size: 24px;
			}
		}
	}
	.carousel-indicators-wrapper {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 15;
		.carousel-indicators {
			position: static;
			justify-content: flex-start;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 2rem;
			@media (min-width: 768px) {
				margin-bottom: 3rem;
			}
			@media (min-width: $breakpoint-xxl) {
				margin-bottom: 7rem;
			}
			li {
				height: 12px;
				width: 12px;
				background-color: transparent;
				border: solid 2px $color-white;
				opacity: 1;
				border-radius: 50%;
			}
			.active {
				height: 16px;
				width: 16px;
				background-color: $color-white;
				border: none;
			}
		}
	}
	.scroll-down-wrapper {
		position: absolute;
		right: 0;
		bottom: 3rem;
		left: 0;
		z-index: 2;
		text-align: center;
		@media (min-width: $breakpoint-xxl) {
			bottom: 7rem;
		}
	}
}

/* Mouse scroll down indicator */
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    /*height: 100px;*/
    height: 50px;
    margin-top: 125px;
}
.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    /*margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;*/
    margin: 0 0 4.5px 6px;
	width: 12px;
	height: 12px;
}
.unu {
    margin-top: 1px;
}
.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}
.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}
.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}
.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}
.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}
.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}
@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}
@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* Card "Solutions" */
.card.card-solution {
	border-radius: 0.75rem;
	> img {
		border-top-left-radius: 0.75rem;
		border-top-right-radius: 0.75rem;
	}
	.card-body {
		.card-title {
			font-size: 1rem;
			font-weight: bold;
			color: $color-primary;
			@media (min-width: $breakpoint-xxl) {
				font-size: 1.25rem;
			}
		}
		p {
			font-size: 0.875rem;
			@media (min-width: $breakpoint-xxl) {
				font-size: 1rem;
			}
		}

	}
	.card-footer {
		border-bottom-left-radius: 0.75rem;
		border-bottom-right-radius: 0.75rem;
		a:hover,
		a:focus {
			color: $color-highlight;
		}
	}
}
.card.card-rnd {
	border-radius: 0.75rem;
	> img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
	}
	.card-body {
		padding-top: 2rem;
		padding-bottom: 2rem;
		.card-title {
			font-size: 1rem;
			font-weight: bold;
			color: $color-primary;
			@media (min-width: $breakpoint-xxl) {
				font-size: 1.25rem;
			}
		}
		p {
			font-size: 0.875rem;
			@media (min-width: $breakpoint-xxl) {
				font-size: 1rem;
			}
		}

	}
	.card-footer {
		border-bottom-left-radius: 0.75rem;
		border-bottom-right-radius: 0.75rem;
		a:hover,
		a:focus {
			color: $color-highlight;
		}
	}
}
.bg-case-studies {
	min-height: 400px;
	background: url(../image/app-wallets@2x.png) center center no-repeat;
	background-size: cover;
}
.section-cs {
	/*background: url(../image/app-wallets@2x.png) center center no-repeat;
	background-size: cover;*/
	#accordion-case-studies {
		.card {
			.card-header {
				background-color: $color-white;
				cursor: pointer;
				.mdi {
					visibility: visible;
				}
				&.collapsed .mdi {
					visibility: hidden;
				}
				span {
					border-bottom: 2px solid #000c24;
				}
				&.collapsed span {
					border-bottom: 2px solid transparent;
				}
				&:hover span {
					border-bottom: 2px solid #000c24;
				}&:hover .mdi {
					visibility: visible;
				}
			}
			.card-body,
			.card-footer {
		    	padding-left: 45px;
		    	a {
					&:link, &:visited {
						color: $color-black;
					}
					&:hover, &:focus, &:active {
						color: $color-highlight;
					}
			    	.mdi {
			    		line-height: 1em;
			    	}
		    	}
		      
		    }
		}
		
	}
	.section-action {
		padding-left: 45px;
	}
}
.section-contact {
	background: #ff6a47 url(../image/bg-contact-us@2x.png) no-repeat;
	background-position: fixed;
	background-size: cover;
	h3 {
		font-weight: 300;
		strong {
			font-weight: bold;
		}
	}
}
.section-clients {
	/*background: #ff6a47 no-repeat;
	background-position: fixed;
	background-size: cover;
	h3 {
		font-weight: 300;
		strong {
			font-weight: bold;
		}
	}*/
}

#carousel-clients {
	position: relative;
	.owl-stage-outer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&.owl-theme .owl-nav {
		// position: relative;
		margin: 0;
		button.owl-prev,
		button.owl-next {
			position: absolute;
			// margin: 0;
			margin: -24px 0;
			padding: 6px !important;
			background-color: rgba($color-black, 0.2);
			&:visited {
				/*background-color: transparent;*/
			}

			&:hover, &:focus {
				background-color: $color-highlight;
				color: $color-white;
				outline: none;
			}
			&:active {
				background-color: $color-primary;
				color: $color-white;
			}
			> i:before {
				line-height: 1em;
			}
		}
		button.owl-prev {
			// top: -142px;
			top: 50%;
			left: -10px;
		}
		button.owl-next {
			// top: -142px;
			top: 50%;
			right: -10px;
		}
		@media (min-width: 576px) {
			button.owl-prev {
				// top: -156px;
				/*left: -48px;*/
			}
			button.owl-next {
				// top: -156px;
				/*right: -48px;*/
			}
		}
		// @media (min-width: 768px) {
		// 	button.owl-prev {
		// 		top: -119px;
		// 	}
		// 	button.owl-next {
		// 		top: -119px;
		// 	}
		// }
		// @media (min-width: 992px) {
		// 	button.owl-prev {
		// 		top: -114px;
		// 	}
		// 	button.owl-next {
		// 		top: -114px;
		// 	}
		// }
		// @media (min-width: 1200px) {
		// 	button.owl-prev {
		// 		top: -130px;
		// 	}
		// 	button.owl-next {
		// 		top: -130px;
		// 	}
		// }
		// @media (min-width: $breakpoint-xxl) {
		// 	button.owl-prev {
		// 		top: -156px;
		// 	}
		// 	button.owl-next {
		// 		top: -156px;
		// 	}
		// }
	}
	
	.owl-item {
		.item {
			box-shadow: 0px 10px 20px #00000029;
			border-radius: 0.75rem;
			overflow: hidden;
		}
		&:not(.active) .item {
			box-shadow: none;
		}
	}
}

.section-why-us {
	background: url(../image/bg-research-development.png) no-repeat;
	background-position: fixed;
	background-size: cover;
}
.card.card-why-us {
	border-radius: 0.75rem;
	overflow: hidden;
	&.bg-innovation {
		background: url(../image/bg-innovation.svg) no-repeat;
		background-size: cover;
	}
	&.bg-partnership {
		background: url(../image/bg-partnership.svg) no-repeat;
		background-size: cover;
	}
	&.bg-internal-team {
		background: url(../image/bg-internal-team.svg) no-repeat;
		background-size: cover;
	}
	> img {
		width: 100%;
	}
	.card-body {
		padding-top: 2rem;
		padding-bottom: 2rem;
		.card-title {
			font-size: 1rem;
			font-weight: bold;
		}
		p {
			font-size: 0.875rem;
		}

	}
	.card-footer {
		border-bottom-left-radius: 0.75rem;
		border-bottom-right-radius: 0.75rem;
		a:hover,
		a:focus {
			color: $color-highlight;
		}
	}
}
/* Card "Blog" */
.card.card-blog {
	border-radius: 0.75rem;
	> img {
		border-top-left-radius: 0.75rem;
		border-top-right-radius: 0.75rem;
	}
	.card-body {
		@media (min-width: $breakpoint-xxl) {
			padding: 2rem;
		}
		.card-title {
			font-size: 1rem;
			font-weight: 600;
			color: $color-primary;
		}
		p {
			font-size: 0.875rem;
		}

	}
	.card-footer {
		border-bottom-left-radius: 0.75rem;
		border-bottom-right-radius: 0.75rem;
		a:hover,
		a:focus {
			color: $color-highlight;
		}
	}
}

.colophon {
	.colophon-top {
		background: transparent linear-gradient(97deg, #0C0F60 0%, #087BE2 100%) 0% 0% no-repeat padding-box;
		padding-top: 3rem;
		padding-bottom: 3rem;
		color: $color-white;
		.row {
			.col:nth-child(n + 2) {
				border-left: solid 4px rgba($color-white, 0.3);
				> div {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
			}
		}
		.navbar-brand {
			img {
				height: 74px;
			}
		}
		.tagline {
			font-size: 0.75rem;
		}
		.icon {
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
			border-radius: 50%;
		}
		a {
			font-size: 0.875rem;
			&:link, &:visited {
				color: $color-white;
			}
			&:hover, &:focus {
				color: $color-highlight;
			}
			&:active {
				color: $color-primary;
			}
		}
		
	}
	.colophon-middle {
		background: #04074d;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		color: $color-white;
		.row {
			
		}
		.social-link {
			img {
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
				/*border-radius: 50%;*/
			}
			& + .social-link {
				margin-left: 0.5rem;
			}
		}
		.certificate-link {
			margin-left: 1rem;
			img {
				width: 70px;
				@media (min-width: $breakpoint-xxl) {
					width: 100px;
				}
			}
		}
		
		a {
			/*font-size: 0.875rem;*/
			&:link, &:visited {
				color: $color-white;
			}
			&:hover, &:focus {
				color: $color-highlight;
			}
			&:active {
				color: $color-primary;
			}
		}
		.media-quick-link {
			h6 {
				font-weight: bold;
				color: $color-highlight;
			}
			p {
				font-size: 0.875rem;
				margin: 0;
				> i {
					color: $color-highlight;
				}
			}
		}
		
	}
	.colophon-bottom {
		background: #04074d;
		color: $color-white;
		.colophon-bottom-content {
			border-top: solid 1px $color-white;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
		a {
			/*font-size: 0.875rem;*/
			&:link, &:visited {
				color: $color-white;
			}
			&:hover, &:focus {
				color: $color-highlight;
			}
			&:active {
				color: $color-primary;
			}
		}
		ul.reference-links {
			list-style-type: none;
			padding: 0;
			margin: 0;

			> li {
				display: inline;
				& + li:before {
					display: inline;
					content: "|";
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
				> a {
					font-size: 80%;
				}
			}
		}
	}
}
.section-tagline {
	background: $color-primary url(../image/bg-tagline.svg) center center no-repeat;
	background-size: cover;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media (min-width: $breakpoint-xxl) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	h1 {
		color: $color-white;
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 1.5rem;
		margin: 0;
		> span {
			font-size: 3.5rem;
			color: $color-highlight-inverse;
		}
	}
	
}
.section-contact-small {
	background: #ff6a47;
	padding-top: 2rem;
	padding-bottom: 2rem;
	h3 {
		font-weight: 300;
		font-size: 1.5rem;
		strong {
			font-weight: 600;
		}
	}
}