/** Global */
$purple: #452268;
$gray: #707070;
$text-gray: #AEB2B4;
$organe: #F98169;
$primary: $organe;
$blue: #255A7E;
$text-blue: #0C3653;
$black: black;
$breakpoint-xs: 340px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;