.explore {
  .explore-title {
    width: 80%;
    @media (min-width: $breakpoint-md) {
      width: 53%;
    }
    margin: 0 auto;
    h3 {
      color: $text-blue;
      text-align: center;
      font-weight: 700;
      margin-top: 70px;
    }
    p {
      text-align: center;
      margin: 40px 0 45px;
      color: $text-gray;
    }
  }
  .card-title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: $text-blue;
    span {
      color: $organe;
    }
  }
  .card {
    box-shadow: 0 4px 20px -10px rgba($gray, 0.5);
    border-radius: 15px;
    border: none;
    .card-text {
      color: $text-gray;
    }
  }
  .btn-primary {
    padding: 17px 55px;
  }
}
